/* Container */
.form-container {
  margin: 20px auto;
    max-width: 600px;
    
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(11, 85, 103, 0.22);
    background: rgba(11, 85, 103, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
}

body {
  background: linear-gradient(135deg, rgba(240, 248, 255, 0.9), rgba(221, 221, 255, 0.9));
}

/* Heading */
.form-container h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #0b5567;
}

/* Labels */
.form-container label {
  display: block;
  font-weight: 600;
  margin: 15px 0 5px;
  color: #333;
}

/* Selects */
.form-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px auto;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.form-container select:focus {
  border-color: #0b5567;
}

/* Button */
.form-container button {
  display: block;
  background: #0b5567;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  margin: 0px auto 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.form-container button:hover {
  background: #09424f;
}

/*legend styling*/
legend {
    font-weight: bold;
    color: #0b5567;
    text-align: left;
    align-self: flex-start;
}

#note {
  color : rgb(33, 56, 184);
}

#footer {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
}

/* Responsive */
@media (max-width: 600px) {
  .form-container {
    width: 90%;
    padding: 20px;
  }

  .form-container h1 {
    font-size: 1.5rem;
  }
}
