<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SGPA Calculator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="nav-title">SGPA Calculator</div>
    <ul class="nav-links">
      <li><a href="{{ url_for('startpage') }}">Home</a></li>
      <li><a href="">About</a></li>
    </ul>
  </nav>

  <!-- Page content -->
  {% block content %}{% endblock %}
</body>
</html>
