<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sgpa Calculator-3rd sem civil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    {% extends "nav.html" %}
    {% block content%}
    <h2>Civil Engineering 3rd Semester SGPA Calculator</h2>
    <div id="result">
        {% if results %}
        <h3>Expected SGPA : {{results}}</h3>
        {% endif %}
    </div>

    <form action="/civil_third_sem" method="POST">

        <!-- THEORY SUBJECTS -->
        <fieldset>
            <legend>1. Advance Engineering Mathematics - I:</legend>
            <label>Grade:</label>
            <select name="aem1_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>2. Technical Communication / Managerial Economics & Financial Accounting:</legend>
            <label>Grade:</label>
            <select name="tc_mefa_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>3. Engineering Mechanics:</legend>
            <label>Grade:</label>
            <select name="em_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>4. Surveying:</legend>
            <label>Grade:</label>
            <select name="surveying_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>5. Fluid Mechanics:</legend>
            <label>Grade:</label>
            <select name="fm_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>6. Building Materials and Construction:</legend>
            <label>Grade:</label>
            <select name="bmc_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>7. Engineering Geology:</legend>
            <label>Grade:</label>
            <select name="eg_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <!-- PRACTICAL & SESSIONAL -->
        <fieldset>
            <legend>8. Surveying Lab:</legend>
            <label>Grade:</label>
            <select name="surveying_lab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>9. Fluid Mechanics Lab:</legend>
            <label>Grade:</label>
            <select name="fm_lab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>10. Computer Aided Civil Engineering Drawing:</legend>
            <label>Grade:</label>
            <select name="caced_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>11. Civil Engineering Materials Lab:</legend>
            <label>Grade:</label>
            <select name="cem_lab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>12. Geology Lab:</legend>
            <label>Grade:</label>
            <select name="geo_lab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>13. Industrial Training:</legend>
            <label>Grade:</label>
            <select name="it_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>14. Social Outreach, Discipline & Extra Curricular Activities:</legend>
            <label>Grade:</label>
            <select name="sodeca_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <br>
        <button type="submit">Let's Calculate</button>
    </form>
    {% endblock %}
</body>

</html>