<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sgpa Calculator-7th sem civil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    {% extends "nav.html" %}
    {% block content%}
    <h2>Civil Engineering 7th Semester SGPA Calculator</h2>
    <div id="result">
        {% if results %}
        <h3>Expected SGPA : {{results}}</h3>
        {% endif %}
    </div>

    <form action="/civil_seventh_sem" method="POST">

        <!-- THEORY SUBJECTS -->
        <fieldset>
            <legend>1. Transportation Engineering:</legend>
            <label>Grade:</label>
            <select name="te_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>2. Open Elective-I:</legend>
            <label>Grade:</label>
            <select name="oe1_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <!-- PRACTICAL & SESSIONAL -->
        <fieldset>
            <legend>3. Road Material Testing Lab:</legend>
            <label>Grade:</label>
            <select name="rm_lab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>4. Professional Practices & Field Engineering Lab:</legend>
            <label>Grade:</label>
            <select name="pp_lab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>5. Soft Skills Lab:</legend>
            <label>Grade:</label>
            <select name="ss_lab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>6. Environmental Monitoring and Design Lab:</legend>
            <label>Grade:</label>
            <select name="emd_lab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>7. Practical Training:</legend>
            <label>Grade:</label>
            <select name="pt_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>8. Seminar:</legend>
            <label>Grade:</label>
            <select name="seminar_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>9. SODECA:</legend>
            <label>Grade:</label>
            <select name="sodeca_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <button type="submit">Let's Calculate</button>
    </form>
    {%endblock%}
</body>

</html>