<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Sgpa Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="SGPA Calculator" />
    <meta property="og:description" content="Easily calculate your RTU SGPA online." />
    <meta property="og:url" content="https://rtu-gpa-calculator.onrender.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="SGPA Calculator" />
    <meta property="og:image" content="https://yourdomain.com/static/preview.png" />

    <!-- Optional for Twitter cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="SGPA Calculator" />
    <meta name="twitter:description" content="Easily calculate your RTU SGPA online." />
    <meta name="twitter:image" content="https://yourdomain.com/static/preview.png" />

</head>

<body>
    {% extends "nav.html" %}

    {% block content %}


    <div class="form-container">
        <h1>SGPA Calculator</h1>
        <form action="" method="post">
            <label>Select Branch:
                <select name="branch" required>
                    <option value="" disabled selected>Select</option>
                    <option value="aids">Artificial Intelligence and Data Science</option>
                    <option value="cse">Computer Science Engineering</option>
                    <option value="it">Information Technology</option>
                    <option value="civil">Civil Engineering</option>
                    <option value="ee">Electrical Engineering</option>
                    <option value="me">Mechanical Engineering</option>
                </select>
            </label>
            <br>
            <label>Select Semester:
                <select name="semester" required>
                    <option value="" disabled selected>Select</option>
                    <option value="1">First Year</option>
                    <option value="3">3rd Sem</option>
                    <option value="4">4th Sem</option>
                    <option value="5">5th Sem</option>
                    <option value="6">6th Sem</option>
                    <option value="7">7th Sem</option>
                    <option value="8">8th Sem</option>
                </select>
            </label>

            <br>
            <button type="submit">Submit</button>
        </form>
        <p id="note"><b>Note:</b> If you don't have a particular subject in your semester, please select the "Don't Have" option from the dropdown.</p>

        
    </div>

    {% endblock %}
</body>

</html>