<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VI Semester SGPA Calculator</title>
</head>

<body>
    <div>
        {% if results %}
        <h3>Expected SGPA : {{results}}</h3>
        {% endif %}
    </div>
    <h2>Enter Marks for Engineering Subjects</h2>
    <form action="/it_sixth" method="POST">
        <fieldset>
            <legend>1.Digital Image Processing:</legend>
            <label>Grade:</label>
            <select name="dip_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>2. Machine Learning:</legend>
            <label>Grade :</label>
            <select name="ml_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>3. Information Security System:</legend>
            <label>Grade :</label>
            <select name="iss_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>4. Computer Architecture & Organization:</legend>
            <label>Grade :</label>
            <select name="cao_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>5. Artificial Intelligence:</legend>
            <label>Grade :</label>
            <select name="ai_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>6. Distributed Systems:</legend>
            <label>Grade :</label>
            <select name="ds_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>7. Information Theory & Coding (ITC):</legend>
            <label>Grade</label>
            <select name="itc_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>8. Cloud Computing (CC):</legend>
            <label>Grade :</label>
            <select name="cc_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>9. 5G Communication Technology (5GCT)</legend>
            <label>Grade :</label>
            <select name="5g_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>


        <fieldset>
            <legend>10. Digital Image Processing Lab</legend>
            <label>Grade:
                <select name="diplab_grade" required>
                    <option value="" selected disabled>Select</option>
                    <option value="na">Don't Have</option>
                    <option>A++</option>
                    <option>A+</option>
                    <option>A</option>
                    <option>B+</option>
                    <option>B</option>
                    <option>C+</option>
                    <option>C</option>
                    <option>D+</option>
                    <option>D</option>
                    <option>E+</option>
                    <option>E</option>
                    <option>F</option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <legend>11. Machine Learning Lab</legend>
            <label>Grade:
                <select name="mllab_grade" required>
                    <option value="" selected disabled>Select</option>
                    <option value="na">Don't Have</option>
                    <option>A++</option>
                    <option>A+</option>
                    <option>A</option>
                    <option>B+</option>
                    <option>B</option>
                    <option>C+</option>
                    <option>C</option>
                    <option>D+</option>
                    <option>D</option>
                    <option>E+</option>
                    <option>E</option>
                    <option>F</option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <legend>12. Python Lab</legend>
            <label>Grade:
                <select name="pylab_grade" required>
                    <option value="" selected disabled>Select</option>
                    <option value="na">Don't Have</option>
                    <option>A++</option>
                    <option>A+</option>
                    <option>A</option>
                    <option>B+</option>
                    <option>B</option>
                    <option>C+</option>
                    <option>C</option>
                    <option>D+</option>
                    <option>D</option>
                    <option>E+</option>
                    <option>E</option>
                    <option>F</option>
                </select>
            </label>
        </fieldset>

        <fieldset>
            <legend>13. Mobile Application Development Lab</legend>
            <label>Grade:
                <select name="madlab_grade" required>
                    <option value="" selected disabled>Select</option>
                    <option value="na">Don't Have</option>
                    <option>A++</option>
                    <option>A+</option>
                    <option>A</option>
                    <option>B+</option>
                    <option>B</option>
                    <option>C+</option>
                    <option>C</option>
                    <option>D+</option>
                    <option>D</option>
                    <option>E+</option>
                    <option>E</option>
                    <option>F</option>
                </select>
            </label>
        </fieldset>

        <fieldset>
            <legend>14. 5G Communication Lab:</legend>
            <label>Grade :</label>
            <select name="5glab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>14. Social Outreach, Discipline & Extra Curricular Activities (SODECA)</legend>
            <label>Grade:
                <select name="sodeca_grade" required>
                    <option value="" selected disabled>Select</option>
                    <option value="na">Don't Have</option>
                    <option>A++</option>
                    <option>A+</option>
                    <option>A</option>
                    <option>B+</option>
                    <option>B</option>
                    <option>C+</option>
                    <option>C</option>
                    <option>D+</option>
                    <option>D</option>
                    <option>E+</option>
                    <option>E</option>
                    <option>F</option>
                </select>
            </label>
        </fieldset>

        <button type="submit">Submit</button>

        </form>
</body>

</html>