<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content%}
    <h2>5th Semester SGPA Calculator</h2>
    <div id="result">
        {% if results %}
        <h3>Expected SGPA : {{results}}</h3>
        {% endif %}
    </div>
    <form action="/me_fifth" method="POST">
        <!-- THEORY SUBJECTS -->
        <fieldset>
            <legend>1. Mechatronic Systems:</legend>
            <label>Grade:</label>
            <select name="mechatronicsys_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>2. Heat Transfer:</legend>
            <label>Grade:</label>
            <select name="ht_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>3. Manufacturing Technology:</legend>
            <label>Grade:</label>
            <select name="mt_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>4. Design of Machine Elements I:</legend>
            <label>Grade:</label>
            <select name="dme1_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>5. Principles of Management:</legend>
            <label>Grade:</label>
            <select name="pom_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>6. Professional Elective I:</legend>
            <label>Grade:</label>
            <select name="pe1_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <!-- PRACTICAL & SESSIONAL -->
        <fieldset>
            <legend>7. Mechatronic Lab:</legend>
            <label>Grade:</label>
            <select name="mechatroniclab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>8. Heat Transfer Lab:</legend>
            <label>Grade:</label>
            <select name="htlab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>9. Production Engineering Lab:</legend>
            <label>Grade:</label>
            <select name="pelab_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>10. Machine Design Practice I:</legend>
            <label>Grade:</label>
            <select name="mdp1_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>11. Industrial Training:</legend>
            <label>Grade:</label>
            <select name="it_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>12. Social Outreach, Discipline & Extra Curricular Activities:</legend>
            <label>Grade:</label>
            <select name="sodeca_grade" required>
                <option value="" disabled selected>Select</option>
                <option value="na">Don't Have</option>
                <option>A++</option>
                <option>A+</option>
                <option>A</option>
                <option>B+</option>
                <option>B</option>
                <option>C+</option>
                <option>C</option>
                <option>D+</option>
                <option>D</option>
                <option>E+</option>
                <option>E</option>
                <option>F</option>
            </select>
        </fieldset>

        <button type="submit">Calculate SGPA</button>
    </form>
    {%endblock%}
</body>

</html>